@model WebApplication1.Models.Nalaz
@{
    Nalaz nalaz = (Nalaz)ViewData["nalaz"];
    Layout = null;
}
<link rel="stylesheet" href="~/css/Nalaz/Izmijeni.css" />
<h4>Nalaz</h4>
<hr />

<form id="forma" action="/Nalaz/IzmijeniSnimi">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input name="nalazId" type="hidden" asp-for="NalazID" value="@nalaz.NalazID" />
    <div class="form-group">
        <label asp-for="Opis" class="control-label"></label>
        <textarea asp-for="Opis" name="textarea opis" id="opis">@nalaz.Opis</textarea>
        <span asp-validation-for="Opis" class="text-danger"></span>
    </div>
    <input name="prijem_fk" type="hidden" asp-for="prijem_FK" value="@nalaz.prijem_FK" />
    <div class="form-group">
        <button id="spasi" type="submit" class="btn btn-primary">Snimi</button>
    </div>
</form>