@model WebApplication1.Models.Nalaz

@{
    ViewData["Title"] = "Unos";
    Layout = null;
    Prijem p = (Prijem)ViewData["prijem"];
}
<button id="hide" style="position:relative; float:right;">Sakrij</button>
<script>
    $("#hide").click(function () {
        $("#box").hide();
    });
</script>
<h1>Unos</h1>

<h4>Nalaz za pacijenta @(p.pacijent.Ime+" "+p.pacijent.Prezime)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UnosSnimi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <textarea style="position:relative; width:100%; resize:both;" id="opis" asp-for="Opis" class="form-control"></textarea>
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>

            <input asp-for="prijem_FK" value="@p.PrijemID" hidden="hidden" />

            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>