@using WebApplication1.Models.VM;
@model lista_prijemPrikazVM;
@{
}
<link rel="stylesheet" href="~/css/Prijem/Prikaz.css"/>
<div id="primarno">
    <div id="dugmad">
        <a id="dodaj" class="btn btn-success" href="/Prijem/Unos">Dodaj</a>
        <a id="pdf" class="btn btn-info" href="/Prijem/Prijemi_PDF">PDF</a>
    </div>
    <form action="/Prijem/Prikaz" method="post">
        <div style="position:relative; left:27%; margin:3%;">
            <input type="date" name="OD" id="OD" />
            <input type="date" name="DO" id="DO" />
            <button type="submit" class="btn btn-info">Traži</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
        <th>Ime i prezime pacijenta</th>
        <th>Datum i vijeme prijema</th>
        <th>Ime i prezime nadležnog ljekara</th>
        <th>HITNO</th>
        <th>Detalji</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in Model.lista)
            {
                <tr>
                    <td>@(x.pacijent.Ime+" "+x.pacijent.Prezime)</td>
                    <td>@(x.Datum_Vrijeme.Day+"."+x.Datum_Vrijeme.Month + "."+x.Datum_Vrijeme.Year + " "+x.Datum_Vrijeme.Hour+" : "+ x.Datum_Vrijeme.Minute+" h")</td>
                    <td>@(x.ljekar.Ime+" "+x.ljekar.Prezime+" - "+x.ljekar.Sifra)</td>
                    @{
                        if (x.Hitni_Prijem)
                        {
                            <td><b>DA</b></td>
                        }
                        else
                        {
                            <td>NE</td>
                        }
                    }
                    <td>
                        <a class="btn btn-warning" id="nalaz_@x.PrijemID">Nalaz</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="/Prijem/Izmijeni?id=@x.PrijemID">Izmijeni</a><a class="btn btn-danger" style="color:white;" id="ukloni_@x.PrijemID">Otkaži</a>
                        <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.PrijemID">Sigurni? <a href="/Prijem/Otkazi?id=@x.PrijemID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.PrijemID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                    </td>
                    <script>
                        $("#nalaz_@x.PrijemID").click(function () {
                            $.get("/Nalaz/Prikaz?id=@x.PrijemID", function (event) {
                                $("#box").html(event);
                                $("#box").show();
                                document.getElementById("box").style.border = "3px solid black";
                            });
                        });

                         $("#poruka_@x.PrijemID").hide();

                            $("#ukloni_@x.PrijemID").click(function () {

                                $("#poruka_@x.PrijemID").slideDown();
                            });

                            $("#no_@x.PrijemID").click(function () {
                                $("#poruka_@x.PrijemID").slideUp();
                            });

                    </script>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="box"></div>