@model WebApplication1.Models.Prijem

@{
    ViewData["Title"] = "Unos";

    List<Pacijent> pacijenti = (List<Pacijent>)ViewData["pacijenti"];
    List<Ljekar> ljekari = (List<Ljekar>)ViewData["ljekari"];
}
<style>
    .err {
        border: 3px solid red;
        background-color: rgb(255, 122, 122);
        box-shadow: 0px 0px 10px 2px red;
    }
</style>
<h1>Unos</h1>

<h4>Prijem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UnosSnimi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datum_Vrijeme" class="control-label"></label>
                <input onchange="enable()" id="datum" asp-for="Datum_Vrijeme" class="form-control" />
                <span id="span_datum" asp-validation-for="Datum_Vrijeme" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    
                    <input onchange="enable()" id="hitno" class="form-check-input" asp-for="Hitni_Prijem" /> HITNI PRIJEM
                </label>
            </div>
            <div class="form-group">
                <label asp-for="pacijent_FK" class="control-label"></label>
                <select onchange="enable()" id="pacijent" asp-for="pacijent_FK" class="form-control" asp-items="ViewBag.pacijent_FK">
                    <option value="0">---Odabrite---</option>
                    <option disabled="disabled"></option>
                    @foreach (var x in pacijenti)
                    {
                        <option value="@x.PacijentID">@(x.Ime+" "+x.Prezime)</option>
                    }
                </select>
                <span id="span_pacijent" asp-validation-for="pacijent_FK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ljekar_FK" class="control-label"></label>
                <select onchange="enable()" id="ljekar" asp-for="ljekar_FK" class="form-control" asp-items="ViewBag.ljekar_FK">
                    <option value="0">---Odabrite---</option>
                    <option disabled="disabled"></option>
                    @foreach (var x in ljekari)
                    {
                        <option value="@x.LjekarID">@(x.titula.Naziv+" "+x.Ime+" "+x.Prezime)</option>
                    }
                </select>
                <span id="span_ljekar" asp-validation-for="ljekar_FK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" onmouseover="check()" id="snimi" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    function check() {
        document.getElementById("snimi").disabled = true;

        var datum = document.getElementById("datum").value;
        var pacijent = document.getElementById("pacijent").value;
        var ljekar = document.getElementById("ljekar").value;

        var prvi = drugi = treci = false;

        function checkDate(dat) {
            var godina = parseInt(dat.substring(0, 4));
            var mjesec = parseInt(dat.substring(5, 7));
            var dan = parseInt(dat.substring(8, 10));
            var sat = parseInt(dat.substring(11, 13));
            var minuta = parseInt(dat.substring(14, 16));

            var trenutno = new Date();
            var trenutnaGodina = parseInt(trenutno.getFullYear());
            var trenutniMjesec = parseInt(trenutno.getMonth());
            var trenutniDan = parseInt(trenutno.getDate());
            var trenutnoSati = parseInt(trenutno.getHours());
            var trenutnoMinuta = parseInt(trenutno.getMinutes());

            trenutniMjesec++;

            if (trenutnaGodina <= godina) {
                if (trenutniMjesec <= mjesec) {
                    if (trenutniDan <= dan) {
                        if (trenutnoSati <= sat) {
                            if (trenutnoMinuta <= minuta) {
                                return true;
                            }
                        }
                    }
                }
            }

            return false;
        }

        if (datum == "" || datum == null) {
            prvi = false;
            document.getElementById("datum").classList.add("err");
        }
        else {
            if (!checkDate(datum)) {
                prvi = false;
                document.getElementById("datum").classList.add("err");
                document.getElementById("span_datum").innerText="Datum i vrijeme može biti trenutno ili starije od trenutnog";
            }
            else {
                prvi = true;
                document.getElementById("datum").classList.remove("err");
                document.getElementById("span_datum").innerText = "";
            }
        }

        if (pacijent == 0) {
            drugi = false;
            document.getElementById("pacijent").classList.add("err");
            document.getElementById("span_pacijent").innerText = "Obavezno polje";
        }
        else {
            drugi = true;
            document.getElementById("pacijent").classList.remove("err");
            document.getElementById("span_pacijent").innerText = "";
        }

        if (ljekar == 0) {
            treci = false;
            document.getElementById("ljekar").classList.add("err");
            document.getElementById("span_ljekar").innerText = "Obavezno polje";
        }
        else {
            treci = true;
            document.getElementById("ljekar").classList.remove("err");
            document.getElementById("span_ljekar").innerText = "";
        }
        if (prvi && drugi && treci) {
            document.getElementById("snimi").disabled = false;
        }
    }

    function enable() {
        document.getElementById("snimi").disabled = false;
    }
</script>