@model WebApplication1.Models.Prijem

@{
    ViewData["Title"] = "Unos";

    List<Pacijent> pacijenti = (List<Pacijent>)ViewData["pacijenti"];
    List<Ljekar> ljekari = (List<Ljekar>)ViewData["ljekari"];
}
<link rel="stylesheet" href="~/css/errorStyle.css"/>
<h1>Unos</h1>

<h4>Prijem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UnosSnimi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datum_Vrijeme" class="control-label"></label>
                <input onchange="enable()" id="datum" asp-for="Datum_Vrijeme" class="form-control" />
                <span id="span_datum" asp-validation-for="Datum_Vrijeme" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    
                    <input onchange="enable()" id="hitno" class="form-check-input" asp-for="Hitni_Prijem" /> HITNI PRIJEM
                </label>
            </div>
            <div class="form-group">
                <label asp-for="pacijent_FK" class="control-label">Pacijent</label>
                <select onchange="enable()" id="pacijent" asp-for="pacijent_FK" class="form-control" asp-items="ViewBag.pacijent_FK">
                    <option value="0">---Odabrite---</option>
                    <option disabled="disabled"></option>
                    @foreach (var x in pacijenti)
                    {
                        <option value="@x.PacijentID">@(x.Ime+" "+x.Prezime)</option>
                    }
                </select>
                <span id="span_pacijent" asp-validation-for="pacijent_FK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ljekar_FK" class="control-label">Ljekar</label>
                <select onchange="enable()" id="ljekar" asp-for="ljekar_FK" class="form-control" asp-items="ViewBag.ljekar_FK">
                    <option value="0">---Odabrite---</option>
                    <option disabled="disabled"></option>
                    @foreach (var x in ljekari)
                    {
                        <option value="@x.LjekarID">@(x.titula.Naziv+" "+x.Ime+" "+x.Prezime)</option>
                    }
                </select>
                <span id="span_ljekar" asp-validation-for="ljekar_FK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" onmouseover="check()" id="snimi" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script src="~/js/Prijem/Unos.js"></script>