@using WebApplication1.Models;
@{
    ViewData["Title"] = "Prikaz";

    List<Ljekar> ljekari = (List<Ljekar>)ViewData["ljekari"];
}

<a style="position:relative; left:45%;" class="btn btn-success" href="/Ljekar/Unos">Dodaj</a>
<table class="table table-striped">
    <thead>
    <th>Ime i prezime</th>
    <th>Titula</th>
    <th>Šifra</th>
    <th>Akcija</th>
    </thead>
    <tbody>
        @foreach (var x in ljekari)
        {
            <tr>
                <td>@(x.Ime+" "+x.Prezime)</td>
                <td>@x.titula.Naziv</td>
                <td>@x.Sifra</td>
                <td>
                    <a class="btn btn-primary" href="/Ljekar/Uredi?id=@x.LjekarID">Uredi</a><a class="btn btn-danger" style="color:white;" id="ukloni_@x.LjekarID">Ukloni</a><span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.LjekarID">Sigurni? <a href="/Ljekar/Ukloni?id=@x.LjekarID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.LjekarID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                    <script>
                            $("#poruka_@x.LjekarID").hide();

                            $("#ukloni_@x.LjekarID").click(function () {
                                $("#poruka_@x.LjekarID").slideDown();
                            });

                            $("#no_@x.LjekarID").click(function () {
                                $("#poruka_@x.LjekarID").slideUp();
                            });
                    </script>
                </td>
            </tr>
        }
    </tbody>
</table>