@model WebApplication1.Models.Ljekar

@{
    ViewData["Title"] = "Unos";

    List<Titula>titule=(List<Titula>) ViewData["titule"];
}
<style>
    .err {
        border: 3px solid red;
        background-color: rgb(255, 122, 122);
        box-shadow: 0px 0px 10px 2px red;
    }
</style>
<h1>Unos</h1>

<h4>Ljekar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UnosSnimi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input onkeydown="enable()" id="ime" asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input onkeydown="enable()" id="prezime" asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifra" class="control-label"></label>
                <input onkeydown="enable()" id="sifra" asp-for="Sifra" class="form-control" />
                <span asp-validation-for="Sifra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="titula_FK" class="control-label"></label>
                <select onchange="enable()" id="titula"  asp-for="titula_FK" class="form-control" asp-items="ViewBag.titula_FK">

                    <option value="0">---Odaberite---</option>
                    <option disabled="disabled"></option>
                    @foreach (var x in titule)
                    {
                        <option value="@x.TitulaID">@x.Naziv</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" onmouseover="check()" id="snimi" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    var prvi = drugi = treci = cetvrti = false;

    var ime;
    var prezime;
    var sifra;
    var titula;

    function check() {
        ime = document.getElementById("ime").value;
        prezime = document.getElementById("prezime").value;
        sifra = document.getElementById("sifra").value;
        titula = document.getElementById("titula").value;

        if (ime != "" && ime != null) {
            prvi = true;
            document.getElementById("ime").classList.remove("err");
        }
        else {
            prvi = false;
            document.getElementById("ime").classList.add("err");
        }
        if (prezime != "" && prezime != null) {
            drugi = true;
            document.getElementById("prezime").classList.remove("err");
        }
        else {
            drugi = false;
            document.getElementById("prezime").classList.add("err");
        }
        if (sifra != "" && sifra != null) {
            treci = true;
            document.getElementById("sifra").classList.remove("err");
        }
        else {
            document.getElementById("sifra").classList.add("err");
            treci = false;
        }
        if (titula!=0) {
            cetvrti = true;
            document.getElementById("titula").classList.remove("err");
        }
        else {
            cetvrti = false;
            document.getElementById("titula").classList.add("err");
        }
        if(!prvi || !drugi || !treci || !cetvrti)
            document.getElementById("snimi").disabled = true;
    }
    function enable() {
        document.getElementById("snimi").disabled = false;
    }
</script>