@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/image/icon.png">
    <link rel="stylesheet" href="~/css/Home/Index.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
    <body>
        <div id="pacijenti" title="Pacijenti"><img src="~/image/patient.png"></div>
        <div id="ljekari" title="Ljekari"><img src="~/image/icons8-stethoscope-90.png"></div>
        <div id="prijemi" title="Prijemi"><img src="~/image/file.png"></div>
        
        <script>
            $(document).ready(function () {
                $("#pacijenti").hide().delay(300).fadeIn(1000);
                $("#ljekari").hide().delay(600).fadeIn(1000);
                $("#prijemi").hide().delay(900).fadeIn(1000);
            });

            $("#pacijenti").click(function () {
                window.location.href = "/Pacijent/Prikaz";
            });

            $("#ljekari").click(function () {
                window.location.href = "/Ljekar/Prikaz";
            });

            $("#prijemi").click(function () {
                window.location.href = "/Prijem/Prikaz";
            });
        </script>
    </body>
</html>