@{
    ViewData["Title"] = "Home Page";
}
<h1 style="text-align:center">Dobro došli</h1>

<h1>Pacijent</h1>
<br />
<a href="/Pacijent/Prikaz">Prikaz</a>
<h1>Ljekar</h1>
<br />
<a href="/Ljekar/Prikaz">Prikaz</a>