@{
    List<Spol> spol = (List<Spol>)ViewData["spol"];
}
<link rel="stylesheet" href="~/css/errorStyle.css"/>
<h1>Unos</h1>

<h4>Pacijent</h4>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Ime</label>
            <input id="ime" type="text" name="ime" class="form-control" />
            <span id="ime_span" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Prezime</label>
            <input id="prezime" type="text" name="prezime" class="form-control" />
            <span id="prezime_span" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Datum rođenja</label>
            <input id="datum" type="date" name="datum_rodjenja" class="form-control" />
            <span id="datum_span" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Spol</label>
            <select id="spol" name="spol" class="form-control">
                <option value="0">---Odaberite---</option>
                <option disabled="disabled"></option>
                @foreach (var x in spol)
                {
                    <option value="@x.SpolID">@x.Naziv</option>
                }
            </select>
            <span id="spol_span" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Adresa</label>
            <input id="adresa" type="text" name="adresa" class="form-control" />
        </div>

        <div class="form-group">

            <label class="control-label">Broj telefona</label>
            <input id="telefon" type="tel" name="telefon" class="form-control" />
        </div>
    </div>
</div>
<button class="btn btn-primary" onclick="valid()">Snimi</button>

<script src="~/js/Pacijent/Unos.js"></script>